
.teaching{
    display: flex;
    /* justify-content: space-evenly; */
    margin: 50px 0 0 200px;
}

.teaching img{
    width: 200px;
    height: 120px;
    border:none;
    border-radius: 50px;
    transition: .5s;
    cursor:pointer;
    margin-right: 50px;

}

.teaching p{
    width: 100px;
    margin: -60px 0 0px 80px;
    padding: 5px;
    color:rgb(0, 0, 0);
    font-size: 20px;
    border:1 solid #fff;
    font-weight: bold;
    border-radius: 30px;
    transition: .5s;
    cursor:pointer;

}

.teaching img:hover{
    box-shadow: 28px 14px 19px -6px rgba(39, 80, 34, 0.2); 
}

.teaching p:hover{
   
    color:rgb(235, 13, 13);
    box-shadow: 28px 14px 19px -6px rgba(39, 80, 34, 0.2);
}



.HM{
    display: block;
    justify-content: center;
    width:75%;
    background-color: #fffbed;
    border-radius: 40px;
    margin:100px 0 0 230px;
    padding: 5px;
}


.HM h2{
    font-size: 20px;
    font-weight: 700;
    text-transform: lowercase;
    margin: 20px 60px 0 ;
    box-sizing: border-box;
}


.tongue-draw{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin:70px;
    cursor:pointer;    
}

.tongue-draw img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-left: 0px;
    transition: .5s;
}
.tongue-draw img:hover{
    box-shadow: 16px 18px 8px 0px rgba(34, 60, 80, 0.2);
}

.tongue-draw p{
    display: flex;
    align-items: center;
    margin-left: 60px;
    margin-top: -35px;

}


.tongue-draw p:hover{
    text-decoration: underline blue;
}

@media(max-width: 1150px){
    .teaching{
        width: 70%;
        margin:100px 0 0 100px;
    }

    .teaching  img{
        width: 190px;
        height: 120px;
        border:none;
        border-radius: 50px;
        
    }

    .teaching  p{
        margin-left: 90px;
        font-size: 20px;
    }

    .HM{
        display: block;
        justify-content: center;
        width:75%;
        background-color: #fffbed;
        border-radius: 40px;
        margin: 100px 0 0 150px;
        padding: 5px;
    }

    .HM h2{
        font-size: 20px;
        font-weight: 700;
        text-transform: lowercase;
        margin: 10px 50px 0 ;
        box-sizing: border-box;
    }

    .tongue-draw{
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin:50px;
        cursor:pointer;    
    }

    .tongue-draw img{
        width: 40px;
        height: 40px;
        border-radius: 50%;
        margin-left: 0px;
    }

    .tongue-draw p{
        display: flex;
        align-items: center;
        margin-left: 45px;
        margin-top: -30px;
        font-size: 15px;
    
    }
}





@media(max-width: 821px){
    .teaching{
        display: flex;
        justify-content: space-around;
        align-items: center;    
    }

    .teaching  img{
        width: 150px;
        height: 90px;
        border:none;
        border-radius: 50px;
        
    }

    .teaching  p{
        width: 60px;
        margin: -40px 0 0px 70px; 
        font-size: 13px;
    }

    .HM{
        display: block;
        justify-content: center;
        margin: 70px 0px 0 100px;
        height: 180px;
        background-color: #fffbed;
        border-radius: 40px;
        
    }

    .HM h2{
        font-size: 15px;
        font-weight: 700;
        text-transform: lowercase;
        margin: 10px 50px 0 ;
        box-sizing: border-box;
    }

    .tongue-draw{
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin:50px;
        cursor:pointer;    
    }

    .tongue-draw img{
        width: 35px;
        height: 35px;
        border-radius: 50%;
        margin-left: 0px;
    }

    .tongue-draw p{
        display: flex;
        align-items: center;
        margin-left: 40px;
        margin-top: -28px;
        font-size: 15px;
    
    }
}





@media(max-width: 600px){
    .teaching{
        display: flex;

    }

    .teaching div > p{
        margin: 8px 45px;
        font-size: 18px;
        
    }

    .HM{
        display: block;
        justify-content: center;
        height: 480px;
        margin: 50px 0 0 75px;
    }

    .HM h2{
        font-size: 20px;
        font-weight: 700;
        text-transform: lowercase;
        box-sizing: border-box;
    }

    .tongue-draw{
        display: block;
        cursor:pointer;    
    }


    .tongue-draw div{
        display: flex;
        justify-content: center;
    }
    .tongue-draw img{
        width: 50px;
        height: 50px;
        border-radius: 50%;
        margin-bottom: 50px;
    }

    .tongue-draw div:nth-child(4){
        margin-left: 25px;
    }

    .tongue-draw p{
        display: flex;
        align-items: center;
        margin-left: 40px;
        margin-top: -50px;
        font-size: 15px;
        font-weight: bold;
    
    }
}


@media(max-width: 545px){
    .teaching{
        display: flex;
    
    }

    .teaching img{
        width: 120px;
        height: 70px;
    }

    .teaching div > p{
        margin: -40px 0 0 40px;
        font-size: 15px;
        color: #fff;
        
    }
}


@media(max-width:376px){
    .teaching div > p{
        color: teal;
        padding: 0 0 0 0;
        margin: 0 0 0 0;
    }

    .teaching{
        display: block;
        justify-content:end;
        
    }   

    .teaching img{
        width: 100px;
        height: 50px;
        margin: 10px 0 0 0;
    }

    .HM{
        margin: 30px 0 0 40px;
    }

    .HM h2{
        font-size: 15px; color: blueviolet;
    }

    .tongue-draw img{
        width: 30px;
        height: 30px;
    }

    .tongue-draw p{
        font-size: 13px;
    }

    
}
